<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="subnav">
          <button
            class="subnavbtn"
            routerLink="/electronics"
            routerLinkActive="active"
          >
            Electronics
          </button>
          <div class="subnav-content">
            <a routerLink="/electronics" routerLinkActive="active"
              >Electronics 1</a
            >
            <a routerLink="/electronics" routerLinkActive="active"
              >Electronics 2</a
            >
            <a routerLink="/electronics" routerLinkActive="active"
              >Electronics 3</a
            >
            <a routerLink="/electronics" routerLinkActive="active"
              >Electronics 4</a
            >
          </div>
        </li>
        <li class="subnav">
          <button class="subnavbtn">Mobiles</button>
          <div class="subnav-content">
            <a href="#link1">Mobiles 1</a>
            <a href="#link2">Mobiles 2</a>
            <a href="#link3">Mobiles 3</a>
            <a href="#link4">Mobiles 4</a>
          </div>
        </li>
        <li class="subnav">
          <button class="subnavbtn">Men</button>
          <div class="subnav-content">
            <a href="#link1">men 1</a>
            <a href="#link2">men 2</a>
            <a href="#link3">men 3</a>
            <a href="#link4">men 4</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
