<header class="p-3 text-white" style="background-color: yellow">
  <div class="container-fluid">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
      >
        <img
          src="https://f.nooncdn.com/s/app/com/noon/design-system/logos/noon-logo-en.svg"
          alt="noon"
          class="noon-icon"
        />
      </a>

      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
      >
        <img src="assets/layout_set_logo.png" alt="noon" class="noon-icon" />
      </a>

      <div
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
      >
        <div class="nav-delivery-icon">
          <img src="assets/egypt-flag-icon.png" alt="" />
        </div>
        <div>
          Delivery to <br />
          Egypt
        </div>
        <div>
          <img
            src="assets/icons8-expand-arrow-64.png"
            alt=""
            class="down-arrow"
          />
        </div>
      </div>

      <div class="col-lg">
        <form>
          <input
            type="search"
            class="form-control form-control-dark"
            placeholder="Search..."
            aria-label="Search"
          />
        </form>
      </div>

      <div class="col-lg-auto">
        <ul class="nav justify-content-end">
          <li class="border-gray">
            <button type="button" class="btn">
              <span class="userText">العربية</span>
            </button>
          </li>
          <li class="border-gray">
            @if (loggedIn) {
            <button type="button" class="btn" (click)="logout()">
              <span class="userText">{{ firstName }}</span>
              <img
                src="https://f.nooncdn.com/s/app/com/noon/icons/user_thin.svg"
                alt="login login img"
                class="img-fluid icon-imgs"
                style="color: black; width: 17px"
              />
            </button>
            } @else {
            <button type="button" class="btn" (click)="routeToLogin()">
              <span class="userText">Log in</span>
              <img
                src="https://f.nooncdn.com/s/app/com/noon/icons/user_thin.svg"
                alt="login login img"
                class="img-fluid icon-imgs"
                style="color: black; width: 17px"
              />
            </button>
            }
          </li>
          <li class="border-gray">
            <button type="button" class="btn">
              <span class="userText">Wishlist</span>
              <img
                src="https://f.nooncdn.com/s/app/com/noon/icons/wishlist.svg"
                alt="login login img"
                class="img-fluid icon-imgs"
                style="color: black; width: 17px"
              />
            </button>
          </li>
          <li>
            <button type="button" class="btn">
              <span class="userText">Cart</span>
              <img
                src="https://f.nooncdn.com/s/app/com/noon/icons/cart.svg"
                alt="login login img"
                class="img-fluid icon-imgs"
                style="color: black; width: 17px"
              />
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<!-- <header class="p-3 text-white" style="background-color: yellow;">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-auto">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="https://f.nooncdn.com/s/app/com/noon/design-system/logos/noon-logo-en.svg" alt="noon" class="noon-icon" >
        </a>
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="assets/layout_set_logo.png" alt="noon" class="noon-icon " >
        </a>
        <div class="d-flex align-items-center">
          <div class="nav-delivery-icon">
              <img src="assets/egypt-flag-icon.png" alt="">
          </div>
          <div>
              Delivery to <br> Egypt
          </div>
          <div>
              <img src="assets/icons8-expand-arrow-64.png" alt="" class="down-arrow">
          </div>
        </div>
      </div>

      <div class="col-lg">
        <form>
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>
      </div>


      </div>
    </div>

</header>
 -->

<!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Expand at md</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown04">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-md-0">
      <input class="form-control" type="text" placeholder="Search">
    </form>
  </div>
</nav> -->
<!-- ----------------------------------------------------------------------------------- -->
<!-- <ul class="navbar-nav mr-auto">
  <div class="swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
    <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
      <div class="swiper-slide swiper-slide-active">
        <li class="nav-item">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
    </div>
    <div class="swiper-slide swiper-slide-next">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </div>
    <div class="swiper-slide">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </div>
    <div class="swiper-slide">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </div>
    <div class="swiper-slide">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </div>
    <div class="swiper-slide">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </div>
    <div class="swiper-slide">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </div>
    <div class="swiper-slide">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </div>
    <div class="swiper-slide">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </div>
    <div class="swiper-slide">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </div>

  </div>
  <div class="jsx-undefined swiper-button-prev swiper-button-disabled">

  </div>
  <div class="jsx-undefined swiper-button-next"></div></div></ul>
 -->

<!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="#dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul id="dropdown" class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->

<!-- <li class="nav-item">
          <a class="nav-link disabled" href="" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
