<h2 class="about-title">About Us</h2>
<div class="team-container">
  <div class="team-member">
    <img src="./assets/img 1.jpg" alt="Person 1" />
    <h3>Mohamed Ibrahim</h3>
    <p>Web Developer</p>
  </div>
  <div class="team-member">
    <img src="./assets/img 2.jpg" alt="Person 2" />
    <h3>Abdelrhman Saber</h3>
    <p>UI/UX Designer</p>
  </div>
  <div class="team-member">
    <img src="./assets/img 1.jpg" alt="Person 3" />
    <h3>Mohamed Ibrahim Ismail</h3>
    <p>Backend Developer</p>
  </div>
  <div class="team-member">
    <img src="./assets/img 2.jpg" alt="Person 4" />
    <h3>Yousef Saad</h3>
    <p>Frontend Developer</p>
  </div>
  <div class="team-member">
    <img src="./assets/img 1.jpg" alt="Person 5" />
    <h3>Noor Esam</h3>
    <p>Project Manager</p>
  </div>
</div>
